# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Project Specific
checkpoints/
output/
*.pth
*.gif
*.txt
!requirements.txt
!README.md
fast_new_domain_Benel_version.ipynb
